<button type="button" class="btn_img" (click)="clickPapel()">
    <img src="../../../assets/papel.jpg" alt="Smiley face" height="100" width="100">
   </button>


<button type="button" class="btn_img" (click)="clickPiedra()">
    <img src="../../../assets/piedra.jpg" alt="Smiley face" height="100" width="100">
</button>

<button type="button" class="btn_img" (click)="clickTijera()">
    <img src="../../../assets/tijera.jpg" alt="Smiley face" height="100" width="100">
</button>

<!--
<img src="../../../assets/piedra.jpg" alt="Smiley face" height="250" width="250">
<img src="../../../assets/tijera.jpg" alt="Smiley face" height="250" width="250">

-->
<br>
<br>
<!--Elegido por la compu: {{elementoSeleccionado}} -->

<br>

<!--
<input type = "text" name ="ingresaUsuario" [(ngModel)] = "palabraIngresada"/>
<input type = "button" value="Enviar" name = "enviar" (click)= "comparar()" />
-->

<br>

{{resultado}}
<br>
<br>
Puntos humano :{{ puntajeHumano}}
<br>
Puntos compu: {{puntajeCompu}} 
<br>
<br>
{{resultadoFinal}}