<button type="button" class="btn_img" (click)="clickPapel()">
    <img src="../../../assets/papel.jpg" alt="Smiley face" height="100" width="100">
</button>

<button type="button" class="btn_img" (click)="clickPiedra()">
    <img src="../../../assets/piedra.jpg" alt="Smiley face" height="100" width="100">
</button>

<button type="button" class="btn_img" (click)="clickTijera()">
    <img src="../../../assets/tijera.jpg" alt="Smiley face" height="100" width="100">
</button>
<br>
Resultado parcial: {{resultadoParcial}}
<br>
<br>
Puntos humano :{{ puntajeHumano}}
<br>
Puntos compu: {{puntajeCompu}} 
<br>
<br>
{{resultadoFinal}}
<br>
<br>