<button type="button" class="btn_img" (click) ="presionaVerde()">
  <img src= '../../../assets/{{estadoVerde}}.jpg' alt="Smiley face" height="100" width="100">
 </button>

 <button type="button" class="btn_img" (click) = "presionaRojo()"  >
  <img src="../../../assets/{{estadoRojo}}.jpg" alt="Smiley face" height="100" width="100">
 </button>
<br>
 <button type="button" class="btn_img" (click) = "presionaAzul()">
  <img src="../../../assets/{{estadoAzul}}.jpg" alt="Smiley face" height="100" width="100">
 </button>

 <button type="button" class="btn_img" (click) ="presionaVioleta()" >
  <img src="../../../assets/{{estadoVioleta}}.jpg" alt="Smiley face" height="100" width="100">
 </button>
<br>
<br>
<br>

 <button type ="button" (click) ="mostrarSecuencia()">
  Mostrar Secuencia
 </button>
<br>
<br>
<br>
 <button type ="button" (click) ="mostrarSecuenciaConLimite()">
  Mostrar Secuencia Con Limite
 </button>
<br>
<br>
<button type ="button" (click) ="mostrarSecuenciaUsuario()">
  Mostrar Secuencia del Usuario
 </button>
 <br>
 <br>
 <br>
 <button type ="button" (click) ="Jugar()">
    Jugar
 </button>
 <br>
 <br>
 <br>

 {{resultadoJuego}}

