<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col-md-4"></div>
      <form>
        
          <div class="col-md-12 userdata" align="center">
              <h3>Login</h3>
              <div class="ui-inputgroup" align="center">
                <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                <input type="text" pInputText placeholder="Usuario">
              </div>
              <div class="ui-inputgroup" align="center">
                <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                <input type="password" pInputText placeholder="Clave">
              </div>
              <button pButton type="button" label="Login" class="ui-button-raised ui-button-success"></button>
          </div>
      </form>
      
        <div class="col-md-4"></div>
    </div>
  </div>
  
  
  <div>Usuario: <input type="text" #usuario></div>
  <div>Contraseña: <input type="password" #password></div>
  <button (click)="login(usuario.value, password.value)">Ingresar</button>
  <!-- <button (click)="testUser(usuario.value, password.value)">Registrarse</button> --> --><!-- desarrollar --> 

</body>
</html>

