.userdata {
    background-color: rgb(5, 92, 87);
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 4px;
    border: 1px double rgb(7, 1, 63);
    box-shadow: 2px 2px 4px black;
}
.ui-inputgroup {
    background-color: rgba(1, 136, 129, 0.404);
    padding: 4px 4px 4px 4px;
    margin-top: 4px;
    text-align: center;
}
h3 {
    color: rgb(255, 120, 9);
    text-shadow: 2px 2px 4px black;
}
button {
    box-shadow: 2px 2px 4px black;
}